<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket Chat</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div v-if="!isLoggedIn">
        <!-- 로그인 폼 -->
        <form @submit.prevent="login">
            <input type="text" v-model="loginData.email" placeholder="Email">
            <input type="password" v-model="loginData.password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
    <div v-else>
        <!-- 채팅방 목록 표시 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>채팅방 리스트</h3>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/logout">로그아웃</a>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">방제목</label>
                </div>
                <input type="text" class="form-control" v-model="room_name" v-on:keyup.enter="createRoom">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @click="createRoom">채팅방 개설</button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" v-for="item in chatrooms" v-bind:key="item.roomId" v-on:click="enterRoom(item.roomId, item.name)">
                    <h6>{{item.name}} <span class="badge badge-info badge-pill">{{item.userCount}}</span></h6>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            isLoggedIn: false,
            loginData: {
                email: '',
                password: ''
            },
            room_name: '',
            chatrooms: [],
            accessToken: null
        },
        created() {
            // 로그인 상태 확인 및 초기 데이터 로드
            this.checkLoginStatus();
            this.findAllRoom();
        },
        methods: {
            // 로그인 상태 확인
            checkLoginStatus() {
                const accessToken = this.getCookie('accessToken');
                if (accessToken) {
                    this.isLoggedIn = true;
                    this.accessToken = accessToken; // 토큰 저장
                    axios.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
                }
            },

            // 쿠키에서 특정 이름의 쿠키 값을 가져오는 함수
            getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            },

            // 로그인
            login() {
                axios.post('/auth/login', this.loginData)
                    .then(response => {
                        const successMessage = response.data.data; // 성공 메시지
                        // 로그인 성공 시
                        if (successMessage === "로그인 성공") {
                            const jwtToken = response.headers.authorization;
                            const decodedToken = decodeURIComponent(jwtToken); // URL 디코딩
                            const tokenWithoutBearer = decodedToken.replace("Bearer ", ""); // "Bearer " 제거
                            document.cookie = `accessToken=${tokenWithoutBearer}; path=/;`;

                            axios.defaults.headers.common['Authorization'] = `${decodedToken}`;

                            this.isLoggedIn = true;
                            this.accessToken = decodedToken;
                            this.loginData.email = '';
                            this.loginData.password = '';

                        } else {
                            alert('로그인에 실패하였습니다.');
                        }
                    })
                    .catch(error => {
                        alert('로그인 실패');
                        console.error(error);
                    });
            },

            findAllRoom:function() {
                axios.get('/chat/rooms', {

                })
                    .then(response => {
                        this.chatrooms = response.data; // 채팅방 리스트 저장
                    })
                    .catch(error => {
                        console.error('채팅방 리스트를 불러오는 도중 에러 발생:', error);
                    });
            },

            createRoom: function() {
                if (this.room_name === '') {
                    alert('방 제목을 입력해 주십시요.');
                    return;
                }

                const decodedToken = this.decodeToken(this.accessToken); // 토큰 디코딩
                const tokenWithoutBearer = this.accessToken.replace("Bearer ", ""); // "Bearer " 제거

                axios.post('/chat/room', null, {
                    params: { name: this.room_name }, // 요청 매개변수
                    headers: {
                        Authorization: `Bearer ${tokenWithoutBearer}`
                    }
                })
                    .then(response => {
                        console.log(decodedToken);
                        alert(`${response.data.name} 방 개설에 성공하였습니다.`);
                        this.room_name = '';
                        this.findAllRoom();
                    })
                    .catch(error => {
                        console.log(decodedToken);
                        alert('채팅방 개설에 실패하였습니다.');
                        console.error('채팅방 개설 중 에러 발생:', error);
                    });
            },
            decodeToken(token) {
                const tokenParts = token.split('.');
                if (tokenParts.length !== 3) {
                    throw new Error('잘못된 토큰 방식 입니다.');
                }

                const payload = tokenParts[1];
                const decodedPayload = atob(payload); // Base64 디코딩

                try {
                    const decodedJSON = JSON.parse(decodeURIComponent(escape(decodedPayload))); // 한글 디코딩
                    return decodedJSON;
                } catch (error) {
                    console.error('토큰 페이로드 디코딩 에러:', error);
                    return null;
                }
            },

            enterRoom: function (roomId, roomName) {
                const accessToken = this.getCookie('accessToken');

                if (!accessToken) {
                    alert('로그인 후 이용 가능합니다.');
                    return;
                }
                localStorage.setItem('wschat.roomId', roomId);
                localStorage.setItem('wschat.roomName', roomName);
                location.href = `/chat/room/enter/${roomId}`;
            }
        }
    });
</script>
</body>
</html>
