<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket Chat</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

        body {
            background-color: #f0f2f5;
            font-family: Arial, sans-serif;
        }

        .chat-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
        }

        .chat-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding: 10px;
            background-color: #007AF5;
            color: #ffffff;
            border-radius: 10px 10px 0 0;
        }

        .chat-header h3 {
            margin: 0;
        }

        .chat-list {
            list-style: none;
            padding: 0;
        }

        .chat-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #e0e0e0;
            transition: background-color 0.3s ease;
        }

        .chat-item:last-child {
            border-bottom: none;
        }

        .chat-item:hover {
            background-color: #f2f2f2;
        }

        .chat-item-name {
            font-weight: bold;
        }

        .chat-item-count {
            background-color: #1DCB16;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="form-container" v-if="!isLoggedIn">
        <div class="btn-container">
            <button class="btn btn-primary" @click="showLogin">Login</button>
            <button class="btn btn-success" @click="showSignup">Sign Up</button>
        </div>

        <!-- 로그인 폼 -->
        <div v-if="showLoginForm">
            <h3>Login</h3>
            <form @submit.prevent="login">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="loginData.email" placeholder="Email">
                </div>g
                <div class="form-group">
                    <input type="password" class="form-control" v-model="loginData.password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>

        <!-- 회원가입 폼 -->
        <div v-if="showSignupForm">
            <h3>Sign Up</h3>
            <form @submit.prevent="signup">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.nickname" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.phoneNumber" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="signupData.password" placeholder="Password">
                </div>
                <!-- 이미지 업로드를 위한 input 추가 -->
                <div class="form-group">
                    <label for="profileImage" class="btn btn-success btn-block">
                        프로필 사진 추가
                        <input id="profileImage" type="file" style="display: none;" @change="onImageChange">
                    </label>
                </div>
                <button class="btn btn-success btn-block" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
    <div v-else>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6">
                    <h3>바보야</h3>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-sm" @click="logout">로그아웃</button>
                    <button class="btn btn-success btn-sm" @click.stop="openChatRequestModal(targetUserId)">채팅 신청</button>
                </div>
            </div>
            <div class="input-group mt-3">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @click="createRoom">채팅방 개설</button>
                </div>
            </div>
            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: activeTab === 'all' }" @click="activeTab = 'all'">전체 채팅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" :class="{ active: activeTab === 'my' }" @click="activeTab = 'my'">내 채팅</a>
                </li>
            </ul>
            <ul class="list-group mt-3">
                <li class="list-group-item list-group-item-action chat-room" v-for="item in displayedChatrooms" :key="item.roomId" @click="enterRoom(item.roomId, item.name)">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column">
                            <h6 class="mb-1">{{ item.name }}</h6>
                            <small class="text-muted">참여 인원: {{ item.userCount }}</small>
                        </div>
                        <div>
                            <button v-if="!isInMyChatrooms(item.roomId)" class="btn btn-primary btn-sm" @click.stop="joinRoom(item.roomId)">추가</button>
                            <button v-else class="btn btn-danger btn-sm" @click.stop="leaveRoom(item.roomId)">나가기</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/dist/js/bootstrap.min.js"></script>
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            isLoggedIn: false,
            loginData: {
                email: '',
                password: ''
            },
            signupData: {
                email: '',
                nickname: '',
                phoneNumber: '',
                username: '',
                password: ''
            },
            room_name: '',
            chatrooms: [],
            myChatrooms: [],
            accessToken: null,
            showLoginForm: false,
            showSignupForm: false,
            activeTab: 'all',
            chatRequestData: {
                targetUserId: '',
            },
        },
        computed: {
            displayedChatrooms() {
                if (this.activeTab === 'all') {
                    return this.chatrooms; // 전체 채팅 탭이 활성화되었을 때
                } else if (this.activeTab === 'my') {
                    // 내 채팅 탭이 활성화되었을 때, 로그인된 사용자의 채팅방만 필터링하여 반환
                    return this.myChatrooms;
                }
                return [];
            }
        },

        created() {
            // 로그인 상태 확인 및 초기 데이터 로드
            this.checkLoginStatus();
            this.findAllRoom();
            this.findMyChatrooms();
        },
        methods: {
            // 로그인 상태 확인
            checkLoginStatus() {
                const accessToken = this.getCookie('accessToken');
                if (accessToken) {
                    this.isLoggedIn = true;
                    this.accessToken = accessToken; // 토큰 저장
                    axios.defaults.headers.common['Authorization'] = this.accessToken;
                }
            },
            isInMyChatrooms(roomId) {
                return this.myChatrooms.some(chatroom => chatroom.roomId === roomId);
            },

            // 쿠키에서 특정 이름의 쿠키 값을 가져오는 함수
            getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            },

            // 로그인
            login() {
                axios.post('/auth/login', this.loginData)
                    .then(response => {
                        const successMessage = response.data.data; // 성공 메시지
                        // 로그인 성공 시
                        if (successMessage === "로그인 성공") {
                            const jwtToken = response.headers.authorization;
                            document.cookie = `accessToken=${jwtToken}; path=/;`;

                            axios.defaults.headers.common['Authorization'] = `${jwtToken}`;

                            this.isLoggedIn = true;
                            this.loginData.email = '';
                            this.loginData.password = '';

                        } else {
                            alert('로그인에 실패하였습니다.');
                        }
                    })
                    .catch(error => {
                        alert('로그인 실패');
                        console.error(error);
                    });
            },
            // 로그아웃
            logout() {
                // 토큰 삭제 및 로그아웃 처리
                document.cookie = 'accessToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                this.isLoggedIn = false;
                axios.defaults.headers.common['Authorization'] = '';

                // 로그인 페이지로 이동
                this.showLoginForm = true;
                this.showSignupForm = false;
            },
            // 이미지 변경 시 호출되는 메소드
            onImageChange(event) {
                const selectedImage = event.target.files[0];
                this.signupData.image = selectedImage; // signupData에 이미지 파일을 할당합니다.
            },
            // 회원가입
            signup() {
                // FormData 객체를 생성하고 데이터 추가
                const formData = new FormData();
                formData.append('data', JSON.stringify({
                    email: this.signupData.email,
                    nickname: this.signupData.nickname,
                    phoneNumber: this.signupData.phoneNumber,
                    username: this.signupData.username,
                    password: this.signupData.password
                }));
                formData.append('file', this.signupData.image, this.signupData.image.name); // 이미지 파일 추가
                axios.post('/auth/signup', formData)
                    .then(response => {
                        alert('회원가입 성공');
                        // 회원가입 성공 시 추가 작업 수행
                    })
                    .catch(error => {
                        alert('회원가입 실패');
                        console.error(error);
                    });
            },

            findAllRoom:function() {
                axios.get('/chat/rooms', {
                })
                    .then(response => {
                        this.chatrooms = response.data; // 채팅방 리스트 저장
                    })
                    .catch(error => {
                        console.error('채팅방 리스트를 불러오는 도중 에러 발생:', error);
                    });
            },

            findMyChatrooms() {
                axios.get('/chat/rooms/user')
                    .then(response => {
                        this.myChatrooms = response.data; // 내 채팅방 리스트 저장
                    })
                    .catch(error => {
                        console.error('내 채팅방 리스트를 불러오는 도중 에러 발생:', error);
                    });
            },

            createRoom: function() {
                axios.post('/chat/room', null, {
                    params: { name: this.room_name }, // 요청 매개변수
                })
                    .then(response => {
                        alert(`${response.data.name} 방 개설에 성공하였습니다.`);
                        this.room_name = '';
                        this.findAllRoom();
                        location.reload();
                    })
                    .catch(error => {
                        alert('채팅방 개설에 실패하였습니다.');
                        console.error('채팅방 개설 중 에러 발생:', error);
                    });
            },
            joinRoom: function (roomId) {
                if (confirm("해당 채팅방을 구독하시겠습니까?")) {
                    axios.post(`/chat/room/post/` + roomId, {
                        headers: {
                            Authorization: this.accessToken
                        }
                    }).then(response => {
                        alert("채팅방을 구독했습니다.");
                        console.log("채팅방을 구독했습니다.");
                    }).catch(error => {
                        console.error('채팅방 구독 에러:', error);
                    });
                }
            },
            leaveRoom: function (roomId) {
                if (confirm("정말로 이 채팅방의 구독을 해지 하겠습니까?")) {
                    axios.delete('/chat/room/post/' + roomId, {
                        headers: {
                            Authorization: this.accessToken
                        }
                    }).then(response => {
                        // 채팅방 삭제 후 필요한 작업 수행
                        alert("채팅방 구독 삭제.");
                        this.findAllRoom(); // 채팅방 목록을 다시 불러옴
                        location.reload();
                    }).catch(error => {
                        console.error('채팅방 구독 삭제 에러:', error);
                    });
                }
            },
            deleteRoom: function (roomId) {
                if (confirm("정말로 이 채팅방을 나가시겠습니까?")) {
                    axios.delete('/chat/room/' + roomId, {
                        headers: {
                            Authorization: this.accessToken
                        }
                    }).then(response => {
                        // 채팅방 삭제 후 필요한 작업 수행
                        alert("채팅방을 나갔습니다.");
                        this.findAllRoom(); // 채팅방 목록을 다시 불러옴
                        location.reload();
                    }).catch(error => {
                        console.error('채팅방 나가기 에러:', error);
                    });
                }
            },
            // 채팅 신청 메소드
            startChat: function(targetUserId) {
                axios.post('/chat/room/start/' + targetUserId,  {
                    headers: {
                        Authorization: this.accessToken
                    }
                }).then(response => {
                    // 채팅 시작이 성공적으로 처리된 경우의 동작을 추가할 수 있습니다.
                    console.log("채팅이 시작되었습니다.");
                }).catch(error => {
                    console.error('채팅 시작 에러:', error);
                });
            },
            openChatRequestModal(targetUserId) {
                this.chatRequestData.targetUserId = targetUserId;
                $('#chatRequestModal').modal('show');
            },
            enterRoom: function (roomId, roomName) {
                const accessToken = this.getCookie('accessToken');

                if (!accessToken) {
                    alert('로그인 후 이용 가능합니다.');
                    return;
                }
                localStorage.setItem('wschat.roomId', roomId);
                localStorage.setItem('wschat.roomName', roomName);
                location.href = `/chat/room/enter/${roomId}`;
            },
            showLogin() {
                this.showLoginForm = true;
                this.showSignupForm = false;
            },
            showSignup() {
                this.showLoginForm = false;
                this.showSignupForm = true;
            }
        }
    });
</script>
<div id="chatRequestModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">채팅 신청하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="targetUserId">대화 상대의 userId:</label>
                        <input type="number" class="form-control" id="targetUserId" v-model="chatRequestData.targetUserId">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="startChat(chatRequestData.targetUserId)">신청하기</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>