<!doctype html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

        #app {
            margin-top: 20px;
        }

        .chat-room {
            border: none;
            cursor: pointer;
        }

        .chat-room:hover {
            background-color: #f7f7f7;
        }

        .badge-pill {
            margin-left: 5px;
        }

        /* 기존 스타일 유지하면서 추가될 스타일 */
        .chat-box {
            max-height: 1000px; /* 대화창 최대 높이 조정 */
            overflow-y: auto; /* 스크롤 생성 */
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #f7f7f7;
        }

        /* 추가되는 스타일 */
        .list-group {
            margin-bottom: 0; /* 리스트 그룹의 하단 여백 제거 */
        }

        .list-group-item {
            padding: 10px 12px; /* 각 메시지의 패딩을 조정 */
            font-size: 15px; /* 메시지 폰트 크기 조정 */
            line-height: 2.0; /* 줄 높이 설정 */
        }

        .input-group {
            margin-top: 10px;
        }

        .image-picker {
            margin-right: 10px;
        }

        .modal-dialog {
            max-width: 90%;
        }

        .modal-body {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
    <div class="row">
        <div class="col-md-6">
            <h4>{{ roomName }} <span class="badge badge-info badge-pill">{{ userCount }}</span></h4>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-info btn-sm" href="/chat/room" v-on:click="disconnectWebSocket">채팅방 나가기</a>
        </div>
    </div>
    <div class="chat-box">
        <ul class="list-group">
            <li class="list-group-item" v-for="(message, index) in messages.slice(0, 30)" :key="index">
                <!-- 이미지 메시지인 경우 -->
                <div v-if="message.type === 'IMAGE'" class="d-flex align-items-center">
                    <div>
                        <strong>{{ message.sender }}</strong>
                        <br>
                        <img :src="message.imageUrl" alt="Image" style="max-width: 100px; max-height: 100px; cursor: pointer;" @click="openImageModal(message.imageUrl)">
                    </div>
                    <div class="ml-auto">
                        <span class="badge badge-secondary">{{ message.messageId }}</span>
                    </div>
                </div>
                <!-- 일반 텍스트 메시지인 경우 -->
                <div v-else>
                    {{ message.sender }} - {{ message.message }}
                    <span class="badge badge-secondary">{{ message.messageId }}</span>
                </div>
            </li>
        </ul>
    </div>

    <!-- 이미지 선택 버튼과 이미지 미리보기 -->
    <div class="input-group">
        <div class="input-group-prepend image-picker">
            <button class="btn btn-secondary" type="button" @click="openImagePicker">이미지 선택</button>
            <input type="file" ref="imageInput" style="display: none" @change="handleImageUpload">
            <div v-if="selectedImagePreview" class="ml-2">
                <img :src="selectedImagePreview" alt="Image" style="max-height: 50px; max-width: 50px;">
                <button class="btn btn-sm btn-danger ml-2" @click="cancelImagePreview">X</button>
            </div>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage('TALK')">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" @click="sendMessage('TALK')">보내기</button>
        </div>
    </div>

    <!-- 이미지 모달 창 -->
    <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img :src="selectedImageUrl" alt="Image" style="max-width: 100%; cursor: pointer;" @click="closeImageModal">
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script>
    // websocket & stomp initialize
    var accessToken = getCookie('accessToken'); // 토큰을 바깥으로 빼냄
    var sock = new SockJS('/ws-stomp');
    var wss = Stomp.over(sock);

    // vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            roomName: '',
            message: '',
            messages: [],
            userCount: 0,
            currentUserEmail: '',
            selectedImageUrl: '',
            selectedImagePreview: '',
            isImageModalOpen: false
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.roomName = localStorage.getItem('wschat.roomName');
            var _this = this;
            wss.connect({'Authorization': accessToken}, function (frame) {
                wss.subscribe("/sub/chat/room/" + _this.roomId, function (message) {
                    var recv = JSON.parse(message.body);
                    _this.recvMessage(recv);
                },{'Authorization': accessToken});


            }, function (error) {
                alert("서버 연결에 실패하였습니다. 다시 접속해 주십시요.");
                location.href = "/chat/room";
            });
        },
        mounted() {
            this.fetchChatMessages(); // 페이지가 로딩될 때 채팅 메시지를 불러옴
        },

        methods: {
            fetchChatMessages: function() {
                axios.get(`/chat/${this.roomId}`, {
                    headers: {
                        Authorization: accessToken
                    }
                }).then(response => {
                    this.messages = response.data.map(message => {
                        if (message.type === 'IMAGE') {
                            return {
                                type: message.type,
                                sender: message.sender,
                                imageUrl: message.imageUrl
                            };
                        } else {
                            return {
                                type: message.type,
                                sender: message.sender,
                                message: message.message
                            };
                        }
                    });

                    // 채팅 메시지 리스트를 뒤집어서 추가하여 아래로 스크롤되도록 함
                    this.messages.reverse();
                }).catch(error => {
                    console.error('채팅 메시지 불러오기 에러:', error);
                });
            },
            sendMessage: function (type, imageUrl) {
                if (type === 'TALK' || (type === 'IMAGE' && imageUrl)) {
                    wss.send("/pub/chat/message", {"Authorization": accessToken},
                        JSON.stringify({type: type, roomId: this.roomId, message: this.message, imageUrl: imageUrl}));
                    this.message = '';
                    this.selectedImagePreview = ''; // 이미지 전송 후 미리보기 초기화
                }
            },
            recvMessage: function (recv) {
                this.userCount = recv.userCount;
                if (recv.type === 'IMAGE') {
                    this.messages.unshift({"type": recv.type, "sender": recv.sender, "imageUrl": recv.imageUrl});
                } else {
                    this.messages.unshift({"type": recv.type, "sender": recv.sender, "message": recv.message});
                }
            },
            disconnectWebSocket: function () {
                wss.disconnect(function () {
                    // 연결 해제 성공
                    console.log("웹소켓 서버 연결해제");
                }, {
                    "Authorization": accessToken  // 토큰 정보 추가
                });
            },
            openImagePicker: function() {
                vm.$refs.imageInput.click();
            },
            // input에서 이미지 선택 시 호출되는 함수
            handleImageUpload: function(event) {
                const file = event.target.files[0];
                if (file) {
                    // 선택한 이미지를 미리보기로 표시
                    this.selectedImagePreview = URL.createObjectURL(file);

                    const formData = new FormData();
                    formData.append('file', file);
                    axios.post('/chat/image', formData, {
                        headers: {
                            'Content-Type' : 'multipart/form-data',
                        }
                    }).then(response => {
                        const imageUrl = response.data.data;
                        this.sendMessage('IMAGE', imageUrl); // 이미지 URL을 함께 보내기

                        // 이미지 선택 후 미리보기 초기화
                        this.selectedImagePreview = '';
                    }).catch(error => {
                        console.error('이미지 업로드 에러:', error);
                        // 이미지 선택 후 미리보기 초기화
                        this.selectedImagePreview = '';
                    });
                }
            },

            cancelImagePreview: function() {
                this.selectedImagePreview = '';
            },
            // 이미지 모달 열기
            openImageModal: function(imageUrl) {
                this.selectedImageUrl = imageUrl;
                this.isImageModalOpen = true;
            },
            // 이미지 모달 닫기
            closeImageModal: function() {
                this.selectedImageUrl = '';
                this.isImageModalOpen = false;
                // 이미지 모달 닫을 때 스크롤 처리
                document.body.classList.remove('modal-open');
            }
        }
    });
    // 토큰 쿠키를 가져오는 함수
    function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }
</script>
</body>
</html>
