<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websocket Chat</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }

        .form-container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }

        .form-container h3 {
            text-align: center;
        }

        .form-container form {
            margin-top: 20px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="form-container" v-if="!isLoggedIn">
        <div class="btn-container">
            <button class="btn btn-primary" @click="showLogin">Login</button>
            <button class="btn btn-success" @click="showSignup">Sign Up</button>
        </div>

        <!-- 로그인 폼 -->
        <div v-if="showLoginForm">
            <h3>Login</h3>
            <form @submit.prevent="login">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="loginData.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="loginData.password" placeholder="Password">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>

        <!-- 회원가입 폼 -->
        <div v-if="showSignupForm">
            <h3>Sign Up</h3>
            <form @submit.prevent="signup">
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.nickname" placeholder="Nickname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.phoneNumber" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="signupData.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" v-model="signupData.password" placeholder="Password">
                </div>
                <button class="btn btn-success btn-block" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
    <div v-else>
        <!-- 채팅방 목록 표시 -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>채팅방 리스트</h3>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary btn-sm" @click="logout">로그아웃</button>
                </div>
            </div>
            <div class="input-group">
                </div>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @click="createRoom">채팅방 개설</button>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" v-for="item in chatrooms" v-bind:key="item.roomId" v-on:click="enterRoom(item.roomId, item.name)">
                    <div class="d-flex justify-content-between align-items-center">
                    <h6>{{item.name}} <span class="badge badge-info badge-pill">{{item.userCount}}</span></h6>
                    <button class="btn btn-danger btn-sm" @click.stop="deleteRoom(item.roomId)">삭제</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            isLoggedIn: false,
            loginData: {
                email: '',
                password: ''
            },
            signupData: {
                email: '',
                nickname: '',
                phoneNumber: '',
                username: '',
                password: ''
            },
            room_name: '',
            chatrooms: [],
            accessToken: null,
            showLoginForm: false,
            showSignupForm: false
        },
        created() {
            // 로그인 상태 확인 및 초기 데이터 로드
            this.checkLoginStatus();
            this.findAllRoom();
        },
        methods: {
            // 로그인 상태 확인
            checkLoginStatus() {
                const accessToken = this.getCookie('accessToken');
                if (accessToken) {
                    this.isLoggedIn = true;
                    this.accessToken = accessToken; // 토큰 저장
                    axios.defaults.headers.common['Authorization'] = this.accessToken;
                }
            },

            // 쿠키에서 특정 이름의 쿠키 값을 가져오는 함수
            getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            },

            // 로그인
            login() {
                axios.post('/auth/login', this.loginData)
                    .then(response => {
                        const successMessage = response.data.data; // 성공 메시지
                        // 로그인 성공 시
                        if (successMessage === "로그인 성공") {
                            const jwtToken = response.headers.authorization;
                            document.cookie = `accessToken=${jwtToken}; path=/;`;

                            axios.defaults.headers.common['Authorization'] = `${jwtToken}`;

                            this.isLoggedIn = true;
                            this.loginData.email = '';
                            this.loginData.password = '';

                        } else {
                            alert('로그인에 실패하였습니다.');
                        }
                    })
                    .catch(error => {
                        alert('로그인 실패');
                        console.error(error);
                    });
            },
            // 로그아웃
            logout() {
                // 토큰 삭제 및 로그아웃 처리
                document.cookie = 'accessToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                this.isLoggedIn = false;
                axios.defaults.headers.common['Authorization'] = '';

                // 로그인 페이지로 이동
                this.showLoginForm = true;
                this.showSignupForm = false;
            },

            // 회원가입
            signup() {
                axios.post('/auth/signup', this.signupData)
                    .then(response => {
                        alert('회원가입 성공');
                        // 회원가입 성공 시 추가 작업 수행
                    })
                    .catch(error => {
                        alert('회원가입 실패');
                        console.error(error);
                    });
            },

            findAllRoom:function() {
                axios.get('/chat/rooms', {
                })
                    .then(response => {
                        this.chatrooms = response.data; // 채팅방 리스트 저장
                    })
                    .catch(error => {
                        console.error('채팅방 리스트를 불러오는 도중 에러 발생:', error);
                    });
            },

            createRoom: function() {
                axios.post('/chat/room', null, {
                    params: { name: this.room_name }, // 요청 매개변수
                    headers: {
                        Authorization: this.accessToken
                    }
                })
                    .then(response => {
                        alert(`${response.data.name} 방 개설에 성공하였습니다.`);
                        this.room_name = '';
                        this.findAllRoom();
                    })
                    .catch(error => {
                        alert('채팅방 개설에 실패하였습니다.');
                        console.error('채팅방 개설 중 에러 발생:', error);
                    });
            },
            deleteRoom: function (roomId) {
                if (confirm("정말로 이 채팅방을 삭제하시겠습니까?")) {
                    axios.delete('/chat/room/' + roomId, {
                        headers: {
                            Authorization: this.accessToken
                        }
                    }).then(response => {
                        // 채팅방 삭제 후 필요한 작업 수행
                        alert("채팅방이 삭제되었습니다.");
                        this.findAllRoom(); // 채팅방 목록을 다시 불러옴
                    }).catch(error => {
                        console.error('채팅방 삭제 에러:', error);
                    });
                }
            },
            enterRoom: function (roomId, roomName) {
                const accessToken = this.getCookie('accessToken');

                if (!accessToken) {
                    alert('로그인 후 이용 가능합니다.');
                    return;
                }
                localStorage.setItem('wschat.roomId', roomId);
                localStorage.setItem('wschat.roomName', roomName);
                location.href = `/chat/room/enter/${roomId}`;
            },
            showLogin() {
                this.showLoginForm = true;
                this.showSignupForm = false;
            },
            showSignup() {
                this.showLoginForm = false;
                this.showSignupForm = true;
            }
        }
    });
</script>
</body>
</html>
